.grid {
  display: grid;
  grid-gap: $s*1.5;
  grid-template-columns: repeat(auto-fit, minmax($s*10, 1fr));
  padding-bottom: 30px;

  &__item {
    box: horizontal space-between;
    text-decoration: none;
    padding: $s*2;
    border-radius: 15px;
    transition: all $fast ease-in-out;
    width: 250px;
    height: 300px;

    a {
      background-repeat: no-repeat;
      background-size: 250px 300px;
      background-image: auto;
    }

    >div {
      box: vertical space-between;
      margin-bottom: $s*7;

    }

    time,
    span {
      box: horizontal middle;
      color: blue;
      text-align: left;
      font-family: cursive;


    }

    svg {
      size: $s;
      margin-right: $q;
    }

    h4 {
      margin: 0;
      text-align: center;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: 2px 6px 20px 0 rgba(0, 0, 0, .2);
    }
  }

  &__overlay {
    position: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .25);
    margin: 0;
  }
}