.header {
  box: horizontal space-between middle;
  padding: $s 0;

  .logo {
    color: $gray-400;
    padding: $h;

    svg {
      size: $s*2;
    }
  }

  .menu {
    &__link {
      padding: 5px;
      text-decoration: none;
      color: $black;
      background-color: green;

      &:hover {
        background-color: $gray-100;
        transition: .35s ease-in-out;
      }
    }
  }

  &--reverse {
    flex-direction: row-reverse;
  }
}